.coverImageContainer{
  display: flex;
}
#coverImage{
  max-height: 400px;
  margin: 20px 0 30px 30px;
}
#coverDescription{
  max-width: 570px;
  margin: 50px 100px;
  position: center;
  align-items: center;
  align-self: center;
}
#coverDescription h1{
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: bold;
}
#coverDescription p{
  font-size: 20px;
  line-height: 1.2;
}
.promo1{
  font-family: inter;
  background-color: #191C24;
  color: #DDDBF1;
  text-align: center;
  padding: 20px;
}
.promo1 h1{
  letter-spacing: 4px;
  font-size: 48px;
  font-weight: 600;
}
.promo1 p{
  font-size: 20px;
  font-weight: 400;
}
#demoButton{
  color: #F44336;
  margin-right: 25px;
  font-size: 17px;
}
#demoButton:hover {
  cursor: pointer;
}
#demoButton button{
  margin-left: 5px;
  width: fit-content;
  height: fit-content;
  top: 6px;
}
