.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 4em;
}

h1 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1.2;
}

.sub-title {
  font-size: 1.3em;
  width: 80%;
  margin-top: 1em;
}

.call-to-action {
  margin-top: 1.3em;
  display: flex;
  align-items: center;
  color: #FF5C01;
}

button {
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.1em;
  background-color: #FFF;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}

i {
  margin-left: 0.5em;
  font-size: 1.5em;
  color: inherit;
  transform: translateY(-0.05em);
  cursor: pointer;
}

.cover-img {
  width: 37.5vw;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #191C24;
  color: #DDDBF1;
  padding: 2em;
  margin-top: 3em;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.banner-text h1 {
  font-weight: 500;
}

.banner-text .sub-title {
  margin-top: 0;
  text-align: center;
  font-size: 1.2em;
}