<div class="container">
  <div class="cover">
    <div class="title-section">
      <h1>Import and create your course schedule and Integrate it into your Calendar</h1>
      <div class="sub-title">
        Quickly integrate your schedule to Outlook/Google calendar or download it in ICS format
      </div>
      <div class="call-to-action">
        <button>WATCH A DEMO</button>
        <i class='bx bx-play-circle'></i>
      </div>
    </div>
    <img src="/assets/images/schedule-cover.png" alt="" class="cover-img">
  </div>
  <div class="banner">
    <div class="banner-text">
      <h1>Plan your own schedule</h1>
    <div class="sub-title">Whether you're importing it from your syllabus or creating it from scratch, we offer the easiest way to plan your work/school schedule and integrate it into your calendar</div>
    </div>
  </div>
  <div class="footer"></div>
</div>