<section>
  <div class="coverImageContainer">
    <div id="coverDescription">
      <h1>Import and create your course schedule and integrate it to your calendar.</h1>
      <p>Quickly integrate your schedule to Outlook/Google Calendar or download it in ics format.</p>
      <div class="coverButtons">
        <label id="demoButton">WATCH DEMO
          <button mat-fab color="warn" aria-label="Watch a demonstration to import your calendar.">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </label>
        <button mat-raised-button color="warn">GET STARTED NOW</button>
      </div>
    </div>
    <img id="coverImage" src="/assets/images/schedule-cover.png" alt="drawing of people trying to put together a physical calendar">
  </div>

</section>
<section>
  <div class="promo1">
    <h1>Plan your own schedule.</h1>
    <p>Whether you're importing it from your syllabus or creating it from scratch, we offer
      <br>the easiest way to plan your work/school schedule and integrate it to your calendar.</p>
  </div>
</section>

