

<div class="subscribe-container">
    <h2 class="subscribe-header">Subscribe to Schedule</h2>
    <div class="calendar-example">
      <h2>Calendar</h2>
      <div class="courses">
        <div class="course">
          <h3>CSI 3505</h3>
          <p>Midterm Exam: March 15, 2023</p>
          <p>Final Exam: April 20, 2023</p>
        </div>
        <div class="course">
          <h3>SEG 4545</h3>
          <p>Midterm Exam: March 22, 2023</p>
          <p>Final Exam: April 24, 2023</p>
        </div>
        <div class="course">
          <h3>SEG 4170</h3>
          <p>Midterm Exam: March 10, 2023</p>
          <p>Final Exam: April 17, 2023</p>
        </div>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Schedule Name :</mat-label>
        <textarea matInput placeholder="Ex. SEG 4910"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <p class="textForm">Subscribe to your Calendar </p>
        <div class="links">
          <img class="calenderImg" src="../../../assets/images/Google.png" width="57" height="56">
          <mat-checkbox class="GoogleCheckbox"> </mat-checkbox>
          <img class="calenderImg" src="../../../assets/images/Outlook.png" width="57" height="56">
          <mat-checkbox class="outlookCheckbox"> </mat-checkbox>
        </div>
      </div>
      <div class="col">
       <div class="options">
          <ul>
            <div class="btn createBtn">
              <button mat-raised-button color="primary">Create</button>
            </div>
            <li><span>Or download ics format:</span></li>
            <div class="btn downloadBtn">
              <button mat-raised-button color="primary">Download</button>
            </div>          
          </ul>           
       </div>
      </div>
    </div>
  </div>
  