.title h3{
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.025em;
  color: #0E2655;
  margin: 0;
}
.title p{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #465A83;
}

.container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}
h2{
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
}
.description{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.form-group{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
}


.example-full-width {
width: 80%;
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.col{
  flex: 0 0 auto;
  width: 49%
}

.textForm{
  font-size: 24px;
  font-weight: 200;
}
.links{
  display: flex;
}


.links img{
  display: inline-flex;
  margin: 0 23px;
  border: 1px solid #9d8e8e;
  border-radius:5px
}
.calenderImg{
  display: flex;
  justify-content: center;
  align-items:center;
  background: #eee;
  padding: 5px;
  margin: 10px;
}

.options{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.options ul{
  list-style: none;
}
.options ul li{
  display: flex;
  justify-content: end;
  margin-top: 2px;
  margin-bottom: 4px;
}
.btn{
  padding: 8px 21px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  color: #fff;
  margin-left: auto;
}
/*  
.createBtn{
  background: #2da52d;
  margin-bottom: 35px;
}
*/  
.downloadBtn{
  max-width: 600px;
}
.downloadBtn .mat-mdc-button-base {
  border-radius: 50px;
  --mdc-protected-button-container-color: #d80f0f;
  margin: 8px 8px 8px 0;
}
.createBtn {
  max-width: 600px;
}

.createBtn .mat-mdc-button-base {
  border-radius: 50px;
  --mdc-protected-button-container-color: #51b53f;
  margin: 8px 8px 8px 0;
}
.outlookCheckbox {
  margin: 0 12px;
}
.GoogleCheckbox {
  margin: 0 12px;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, var(--mdc-shape-medium, 30px));
}