

<div class="container">
  <h2 class="pageTitle">Submit your schedule:</h2>
  <div class="description">
    <p>Finally its time to <b>submit</b> your schedule, staying organized and on top of your course work has never be easier! </p>
  </div>
  <div class="form-group">
    <label class="textForm">Schedule Name :</label>

    <mat-form-field class="example-full-width">
      <mat-label>Schedule Name :</mat-label>
      <textarea matInput placeholder="Ex. SEG 4910" [(ngModel)]="scheduleName"></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col">
      <p class="textForm">Create your integrated Calender </p>
      <div class="links">
        <img class="calenderImg" src="../../../assets/images/create schedule page/submit schedule/Google.png" width="57" height="56">
        <mat-checkbox [(ngModel)]="googleCheckbox" class="GoogleCheckbox"> </mat-checkbox>
        <img class="calenderImg" src="../../../assets/images/create schedule page/submit schedule/Outlook.png" width="57" height="56">
        <mat-checkbox [(ngModel)]="outlookCheckbox" class="outlookCheckbox"> </mat-checkbox>
      </div>
    </div>
    <div class="col">
     <div class="options">
        <ul>
          <div class="btn createBtn">
            <button mat-raised-button color="primary" [disabled]="!scheduleName" (click)="openImportDialog()">Create</button>
          </div>
          <li><span>Or download ics format:</span></li>
          <div class="btn downloadBtn">
            <button mat-raised-button color="primary" (click)="downloadIcs()">Download</button>
          </div>          
        </ul>           
     </div>
    </div>
  </div>
</div>
