<h2>Submit your schedule:</h2>
<p>Finally its time to submit your schedule, staying organized and on top of your course work has never be easier!</p>
<form>
  <label>Schedule name:
    <input type="text">
  </label>
  <label>Choose your integrated calendar:
    <input type="checkbox"> <!-- implement checkboxes with *ngFor -->
  </label>
  <button type="submit">Create</button>
  <button type="reset">Reset</button>
  <label>or download in ics format:
    <button>Download</button> <!-- implement download ics format function -->
  </label>
</form>


