<div class="container" [formGroup]="scheduleIdForm">
    <h1>Find Your Schedule</h1>
    <div class="text">
        Enter a schedule ID, Name or owner ID provided in the input field below to find your schedule 
    </div>
    <div class="search-field">
        <div class="input-label">
            Search Input:
        </div>
        <input matInput formControlName="id">
        <button (click)="search()" [disabled]="this.scheduleIdForm.controls.id.errors">search</button>
    </div>

    <div *ngIf="scheduleIdForm.controls.id.errors && (scheduleIdForm.controls.id.touched || scheduleIdForm.controls.id.dirty)" class="error-message">
        <div *ngIf="scheduleIdForm.controls.id.errors?.['required']">
            <i class='bx bxs-error-circle'></i>
            id is required
        </div>
        <div *ngIf="scheduleIdForm.controls.id.errors?.['pattern'] || scheduleIdForm.controls.id.errors?.['minlength'] || scheduleIdForm.controls.id.errors?.['maxlength']">
            <i class='bx bxs-error-circle'></i>
            id must be 24 character hexadecimal
        </div>
    </div>

    <div *ngFor="let sched of scheduleList">
        <br>
        <span>Name: {{sched.name}}</span><br>
        <span>ID: {{sched.id}}</span><br>
        <span>Description: {{sched.description}}</span><br>
        <span>Events: {{sched.events}}</span><br>
    </div>

    <div *ngIf="!scheduleIdForm.controls.id.errors" class="error-message">
        <div *ngIf="!doesScheduleExist">
            <i class='bx bxs-error-circle'></i>
            schedule with this id does not exist
        </div>
    </div>
</div>