.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:host {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M228.3016417573634 219.69813361689214L131.6788265847092 243.7889071529758 216.1263944751618 376.6777431439152z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M268.28352602187715 192.98020115430137L403.067018027915 138.52413557421883 348.61095244783246 3.740643568180957 213.8274604417946 58.196709148263494z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M500.48144081516097 414.49717310544486L598.8871282680157 389.96187958441436 574.3518347469851 291.5561921315597 475.94614729413047 316.0914856525902z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M47.10563324903914 74.11165335020897L139.2372882798616 125.29590614511031 139.23728827986156 33.164251114287865z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1426.1701881634842 558.7318410272519L1402.018738092951 444.5733423268141 1325.0373877008617 511.4922092818413z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M665.433070332328 342.72710796730433L695.6839408921322 430.5820153062507 753.2879776712745 312.47623740750015z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M264.4054230075375 163.98263785307046L151.85002947547335 109.08570440862758 96.95309603103047 221.6410979406917 209.5084895630946 276.53803138513456z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M940.8964961382037 79.94851903616042L1073.6153585657844 130.8945170929216 991.8424941949648-52.770343391420155z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M272.40162028094403 513.714809145024L174.6445697905452 485.68342599151134 146.61318663703253 583.4404764819102 244.37023712743138 611.4718596354228z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M942.6398181080663 273.8043253674435L1099.2349629707815 279.42217384401215 1037.0487762517237 157.37491049188452z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M522.9213877905737 246.36166221140655L660.8600694492346 339.4024777921894 753.9008850300174 201.4637961335285 615.9622033713565 108.42298055274563z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1179.3078402508372 293.39683698230374L1035.5760513061289 246.69554777937688 988.874762103202 390.4273367240853 1132.6065510479104 437.12862592701214z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M957.1288344317466 360.32775797378747L877.926650009342 392.3275176238716 909.9264096594262 471.52970204627616 989.1285940818307 439.529942396192z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1096.4266415511083 542.5963594189722L1187.3515967062708 556.997457552756 1163.4907663293654 413.40947575312043z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M248.65035079094514 385.98217997892965L215.45867160150937 542.1367532776987 404.8049240897142 419.1738591683654z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    height: 92vh;
  }

h1 {
    font-size: 4em;
    font-weight: 500;
    margin-top: 2em;
}

.text {
    font-size: 1.2em;
    margin-top: 3em;
}

.search-field {
    display: flex;
    margin-top: 3em;
    align-items: baseline;
}

.input-label {
    font-size: 1.2em;
    font-weight: 500;
}

.search-field input {
    font-size: 1.1em;
    line-height: 1.5;
    font-size: 1.1em;
    width: 320px;
}

button {
    border: none;
    color: #FFF;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 0.35em;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--save-changes-color);
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    margin-top: 0.5em;
}

button:disabled {
    opacity: 0.5;
}

button:hover {
    background-color: var(--save-changes-color-hover);
}
mat-form-field{
    padding-left: 1em;
    height: auto;
}
.scheduleCard{
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    display: inline-grid;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}
.scheduleDescription{
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 40px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}