.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4em;
    font-weight: 500;
    margin-top: 2em;
}

.text {
    font-size: 1.2em;
    margin-top: 3em;
}

.search-field {
    display: flex;
    margin-top: 3em;
    align-items: baseline;
}

.input-label {
    font-size: 1.2em;
    font-weight: 500;
}

.search-field input {
    font-size: 1.1em;
    line-height: 1.5;
    font-size: 1.1em;
    width: 320px;
}

button {
    border: none;
    color: #FFF;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 0.35em;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--save-changes-color);
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    margin-top: 0.5em;
}

button:disabled {
    opacity: 0.5;
}

button:hover {
    background-color: var(--save-changes-color-hover);
}
mat-form-field{
    padding-left: 1em;
    height: auto;
}
.scheduleCard{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    display: inline-grid;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}
.scheduleDescription{
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 40px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}