.form-row.footer {
    flex-direction: column;
}

.row-item {
    display: flex;
}

.row-item+.row-item {
    margin-left: 0;
    margin-top: 0.3em;
}

.login-error{
    margin-bottom: 0;
    margin-top: 16px;
    text-align: left;
    color: red;
    font-size: 12px;
}