<div class="form" [formGroup]="signInForm">
    <div class="form-row">
        <h1>Sign In</h1>
    </div>

    <mat-form-field class="form-row" [floatLabel]="'always'" appearance="fill">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <div *ngIf="signInForm.controls.email.errors && (signInForm.controls.email.touched || signInForm.controls.email.dirty)" class="error-message">
        <div *ngIf="signInForm.controls.email.errors?.['required']">
            <i class='bx bxs-error-circle'></i>
            email is required
        </div>
        <div *ngIf="signInForm.controls.email.errors?.['email']">
            <i class='bx bxs-error-circle'></i>
            email must be in email format
        </div>
    </div>

    <mat-form-field class="form-row" [floatLabel]="'always'" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>

    <div *ngIf="signInForm.controls.password.errors && (signInForm.controls.password.touched || signInForm.controls.password.dirty)" class="error-message">
        <div *ngIf="signInForm.controls.password.errors?.['required']">
            <i class='bx bxs-error-circle'></i>
            password is required
        </div>
    </div>

    <div class="form-row">
        <button  mat-dialog-button mat-stroked-button class="submit-btn" (click)="submit()" [disabled]="signInForm.invalid" routerLink="/profile-page">Sign In</button>
    </div>

    <div *ngIf="loginError" class="login-error">
        Incorrect username or password. Please try again.
    </div>
      

    <div class="form-row footer">
        <div class="row-item">
            <div class="forgot-password" (click)="openForgotPasswordForm()">Forgot your password?</div>
        </div>
        <div class="row-item">
            <div>New to our website?</div>
            <div class="sign-up-link" (click)="openSignUpForm()">Sign up</div>
        </div>
    </div>
</div>