<div class="nav-bar-container">
    <div class="logo">
        <img src="../../assets/logo imagelogo.png" alt="">
    </div>
    <div class="nav-bar-items">
        <div class="nav-bar-item">
           <a href="../">Home</a> 
        </div>
        <div class="nav-bar-item select-menu">
            <div class="select-btn" (click)="toggleDropdown()">
                Schedule
                <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="options">
                <li class="option">
                    <span class="option-text" (click)="toggleDropdown()"><a routerLink="../create-schedule">Create Schedule</a></span>
                </li>
                <li class="option">
                    <span class="option-text" (click)="toggleDropdown()"><a routerLink="../subscribe-schedule">Subscribe to Schedule</a></span>
                </li>
                <li class="option">
                    <span class="option-text" (click)="toggleDropdown()"><a routerLink="../find-schedule">Find Schedule</a></span>
                </li>
            </ul>
        </div>
        <div class="nav-bar-item">
           <a routerLink="../about-us">About us</a>
        </div>
    </div>
    <div class="prompts">
        <div class="sign-in" (click)="openSignInForm()">
            Sign in
        </div>
        <div class="get-started" (click)="openSignUpForm()">
            Get Started
        </div>
    </div>
</div>