.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--nav-bar-background);
    color: var(--nav-bar-main-text);
    padding: 0.5em 12.5vw;
    font-size: 1.2em;
    font-weight: 500;
    height: 4.3em;
}

.logo {
    border: 2px solid var(--nav-bar-main-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 3.2em;
    height: 3.2em;
    padding: 0.5em;
}

.nav-bar-items,
.prompts {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prompts,
.logged-in {
    width: 15vw;
}

.nav-bar-item {
    display: flex;
    justify-content: center;
}

.nav-bar-item,
.options {
    width: 7em;
    z-index: 2;
}

.nav-bar-item:hover,
.sign-in:hover,
.get-started:hover,
.log-out:hover {
    color: var(--nav-bar-main-text-hover);
}

.get-started:hover,
.logout:hover {
    background-color: var(--nav-bar-background-hover);
}

.options .option:hover {
    background-color: var(--nav-bar-background-hover);
}

.nav-bar-item a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-item+.nav-bar-item {
    margin-left: 3em;
}

.select-btn {
    display: flex;
    justify-content: space-between;
}

.select-btn i {
    align-self: flex-end;
}

.select-menu .options {
    position: absolute;
    padding: 0.1em;
    background-color: var(--nav-bar-background);
    list-style: none;
    margin-top: 3em;
    border-radius: 0.4em;
    display: none;
}

.select-menu .option {
    display: flex;
    cursor: pointer;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 0.4em;
    align-items: center;
}

.select-menu .options.active {
    display: block;
}

.get-started, .logout {
    margin-left: 1.5em;
    padding: 0.3em;
    border: 2px solid var(--nav-bar-main-text);
    border-radius: 0.4em;
    cursor: pointer;
}

a {
    all: unset;
    text-decoration: none;
}

.logged-in {
    display: flex;
    align-items: center;
}

.logged-in-user {
    position: relative;
    transform: translateY(0.2em);
}

.user::before {
    position: absolute;
    content: 'welcome back!';
    font-weight: 400;
    font-size: 0.7em;
    left: -0.9em;
    top: -1.7em;

}

.user {
    width: 7em;
}

.invisible {
    display: none;
}
