<div class="title"><h3 mat-dialog-title>Add new deliverable:</h3></div>
<div mat-dialog-content>
  <mat-grid-list cols="1">
   
          <mat-form-field hintLabel="" appearance="fill" class="example-form-field" >
            <mat-label>Deliverable type: </mat-label>
            <input matInput #input  placeholder="Ex. Assignment"  [(ngModel)]="data.type">
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Start Date:</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="data.startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Due date:</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="data.dueDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
            <mat-label>Location: </mat-label>
            <input matInput #input  placeholder="Ex. 2023-02-06"  [(ngModel)]="data.location">
          </mat-form-field>

          <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
            <mat-label>Description: </mat-label>
            <input matInput #input  placeholder="Ex. 2023-02-06"  [(ngModel)]="data.description">
          </mat-form-field>        
        </mat-grid-list>
    
<div mat-dialog-actions  align="end">
  <button mat-button mat-dialog-close (click)="onNoClick()" id="cancelbtn" >Cancel</button>
  <button mat-button [mat-dialog-close]="data"  id="addbtn">Add</button>
</div>