<h1 mat-dialog-title>Add new deliverable:</h1>
<div mat-dialog-content>
  <div fxLayout="column"  fxLayoutAlign="space-between" class="listOfDeliverables">
   
          <mat-form-field hintLabel="Max 10 characters" appearance="fill" >
            <mat-label>Deliverable type: </mat-label>
            <input matInput #input  placeholder="Ex. Assignment"  [(ngModel)]="data.type">
          </mat-form-field>
        
          <mat-form-field hintLabel="" appearance="fill">
            <mat-label>Start date: </mat-label>
            <input matInput #input  placeholder="Ex. 2023-02-06"  [(ngModel)]="data.startDate">
          </mat-form-field>

          <mat-form-field hintLabel="Max 10 characters" appearance="fill">
            <mat-label>Due date: </mat-label>
            <input matInput #input  placeholder="Ex. 2023-02-06"  [(ngModel)]="data.dueDate">
          </mat-form-field>

          <mat-form-field hintLabel="Max 10 characters" appearance="fill">
            <mat-label>Location: </mat-label>
            <input matInput #input  placeholder="Ex. 2023-02-06"  [(ngModel)]="data.location">
          </mat-form-field>

          <mat-form-field hintLabel="Max 10 characters" appearance="fill">
            <mat-label>Description: </mat-label>
            <input matInput #input  placeholder="Ex. 2023-02-06"  [(ngModel)]="data.description">
          </mat-form-field>
        
      </div>
    
<div mat-dialog-actions  align="end">
  <button mat-button mat-dialog-close (click)="onNoClick()" >Cancel</button>
  <button mat-button [mat-dialog-close]="data" >Add</button>
</div>