<div class="container">
  <h2>Create your schedule:</h2>
  <div class="createScheduleDescription">
    <p>Here, you can make any necessary <b>edits or updates</b> to the imported information. If you haven't imported your syllabus <b>you can still
        create your schedule from scratch.</b></p>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="List of deliverables">
      <mat-grid-list cols="1">





        <mat-card>
          <mat-card-header>
            <mat-card-title>List of deliverables:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let deliverable of deliverables">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{deliverable.type}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{panelOpenState ? 'click on the arrow to close the details' : 'click on the arrow to view more details'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
                    <mat-label>Deliverable type: </mat-label>
                    <input matInput #input placeholder="Ex. Assignment" [(ngModel)]="deliverable.type" required>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Start Date:</mat-label>
                    <input matInput [matDatepicker]="datepicker" [(ngModel)]="deliverable.startDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Due date:</mat-label>
                    <input matInput [matDatepicker]="adatepicker" [(ngModel)]="deliverable.dueDate" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="adatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #adatepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
                  <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
                    <mat-label>Description: </mat-label>
                    <input matInput #input placeholder="Ex. SEG4910 deliverable" [(ngModel)]="deliverable.description">
                  </mat-form-field>
                  <mat-form-field hintLabel="" appearance="fill">
                    <mat-label>Location:</mat-label>
                    <input matInput #input placeholder="Ex. Ottawa" [(ngModel)]="deliverable.location">
                    <i class="material-icons" matSuffix>location_on</i>
                  </mat-form-field>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-card-content>
        </mat-card>

      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Tasks by month">
      <mat-grid-list cols=1 rowHeight="16rem">
        <mat-grid-tile class="my-grid-tile">
          <mat-grid-list cols="1">

            <mat-card>
              <mat-card-header>
                <mat-card-title>January</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                  <mat-chip color="accent" class="example-box" cdkDrag *ngFor="let deliverable of deliverables">
                    {{deliverable.type}}
                  </mat-chip>
                </mat-chip-set>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <mat-card-title>March</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                  <mat-chip class="example-box" cdkDrag *ngFor="let deliverable of deliverables">
                    {{deliverable.type}}
                  </mat-chip>
                </mat-chip-set>
              </mat-card-content>
            </mat-card>

          </mat-grid-list>
          <!--  -->
          <mat-grid-list cols="1">
            <mat-card>
              <mat-card-header>
                <mat-card-title>February</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                  <mat-chip class="example-box" cdkDrag *ngFor="let deliverable of deliverables">
                    {{deliverable.type}}
                  </mat-chip>
                </mat-chip-set>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>April</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                  <mat-chip class="example-box" cdkDrag *ngFor="let deliverable of deliverables">
                    {{deliverable.type}}
                  </mat-chip>
                </mat-chip-set>
              </mat-card-content>
            </mat-card>
          </mat-grid-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>


  <div class="example-container">
    <h2>January</h2>
  
    <div
      cdkDropList
      #jan="cdkDropList"
      [cdkDropListData]="January"
      [cdkDropListConnectedTo]="[feb, mar, apr]"
   
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of January" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>February</h2>
  <!-- [cdkDropListConnectedTo]="[mar]"
      [cdkDropListConnectedTo]="[apr]"
       [cdkDropListConnectedTo]="[mar]"
      [cdkDropListConnectedTo]="[apr]" -->
    <div
      cdkDropList
      #feb="cdkDropList"
      [cdkDropListData]="February"
      [cdkDropListConnectedTo]="[jan, mar, apr]"
      
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of February" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>March</h2>
  
    <div
      cdkDropList
      #mar="cdkDropList"
      [cdkDropListData]="March"
      [cdkDropListConnectedTo]="[jan, feb, apr]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of March" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>April</h2>
  
    <div
      cdkDropList
      #apr="cdkDropList"
      [cdkDropListData]="April"
      [cdkDropListConnectedTo]="[jan,  feb, mar]"

      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of April" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  


  <div class="addButton">
    <button mat-button (click)="openDialog()">
      <mat-icon>add</mat-icon>Add deliverable
    </button>
  </div>



  <div class="hint">
    <p>Finally, it’s time to submit your schedule. Click on next to move to the next step!</p>
  </div>
</div>