
<div class="container">
  <h2 class="pageTitle">Create your schedule:</h2>
  <div class="createScheduleDescription">
    <p>Here, you can make any necessary <b>edits or updates</b> to the imported information. If you haven't imported your syllabus <b>you can still
        create your schedule from scratch.</b></p>
  </div>

  <mat-tab-group class="custom-tab-group" mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="organizeTasksIntoMonths()" >
    <mat-tab label="List of deliverables">
      <mat-grid-list cols="1">
        <mat-card>
          <mat-card-header>
            <mat-card-title>List of deliverables:</mat-card-title>
           
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="createNewDeliverableForm"></form>
            <div *ngFor="let deliverable of listOfDeliverables; let i = index">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{deliverable.type}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{panelOpenState ? 'click on the arrow to close the details' : 'click on the arrow to view more details'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
                    <mat-label>Deliverable type: </mat-label>
                    <input matInput #input maxlength="20"  placeholder="Ex. Assignment" required  [(ngModel)]="deliverable.type" >     
                  </mat-form-field> 
                  <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Start Date:</mat-label>
                    <input matInput [matDatepicker]="datepicker1" [(ngModel)]="deliverable.startTime">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker1>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Due date:</mat-label>

                    <input matInput [matDatepicker]="adatepicker" [(ngModel)]="deliverable.endTime" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="adatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #adatepicker>

                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
                  <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
                    <mat-label>Description: </mat-label>
                    <input matInput #input maxlength="70" placeholder="Ex. SEG4910 deliverable" [(ngModel)]="deliverable.description">
                  </mat-form-field>
                  <mat-form-field hintLabel="" appearance="fill" class="example-form-field">
                    <mat-label>Location:</mat-label>
                    <input matInput #input maxlength="20" placeholder="Ex. Ottawa" [(ngModel)]="deliverable.location">
                   <!-- <i class="material-icons" matSuffix>location_on</i> -->
                  </mat-form-field>
                  <button mat-button (click)="update(deliverable, i)">
                    <mat-icon>update</mat-icon>Update
                  </button>
                  <button mat-button (click)="delete(deliverable,i)">
                    <mat-icon>delete</mat-icon>Delete
                  </button>
                  <div >
                   <mat-hint>Click on update to save your changes</mat-hint>
                </div>
                </mat-expansion-panel>
              </mat-accordion>
          
            </div>
          </mat-card-content>
         
        </mat-card>

      </mat-grid-list>
    </mat-tab>
    <div class="tab-container">
    <mat-tab label="Tasks by month" class="scrollablediv" button>

      <div id="M_1"> 

        <div ><h3><b>January</b></h3></div>
        <div *ngFor="let item of January" >
          <mat-chip>{{item}}</mat-chip>
        </div>
      </div>

      
      <div id="M_1">
        <div ><h3><b>February</b></h3></div>
        <div *ngFor="let item of February" >
          <mat-chip>{{item}}</mat-chip>
        </div>
      </div>

      <div id="M_1">
        <div ><h3><b>March</b></h3></div>
        <div *ngFor="let item of March" >
          <mat-chip>{{item}}</mat-chip>
        </div>
      </div>

      <div id="M_1">
        <div ><h3><b>April</b></h3></div>
        <div *ngFor="let item of April" >
          <mat-chip>{{item}}</mat-chip>
        </div>
      </div>


    </mat-tab>
  </div>
  </mat-tab-group>




  <div class="addButton">
    <button mat-button (click)="openDialog()">
      <mat-icon>add</mat-icon>Add deliverable
    </button>
  </div>



  <div class="hint">
    <p>Finally, it’s time to submit your schedule. Click on next to move to the next step!</p>
  </div>
</div>