/* styling outerbox */
ngx-file-drop ::ng-deep > div {
  height: 171px !important;
  width: 642px;
  border-radius: 27px !important;
  border: 1px dashed #000000 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* styling innerbox
ngx-file-drop ::ng-deep > div> div {
}
*/
.title h3{
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.025em;
  color: #0E2655;
  margin: 0;
}
.title p{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #465A83;
}

.hints{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#cloud-icon{
  transform: scale(2.5);
  margin-bottom: 15px;
  color: #0E2655;
}

label{
  text-align: center;
}

#browse{
  cursor: pointer;
  color: #0E2655;
}
#size-hint{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #465A83;
}
mat-card{
  border: 1px solid #A4A4A4;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: none;
}

.fileIcon{
  width: 26px;
  height: 26px;
  display: inline-block;
  border: 1px solid #B1B1B1;
  padding: 7px 5px 10px 5px;
  border-radius: 4px;
  opacity: 0.7;
}

mat-card-title {
  color: black;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  position: relative;
  top: -3px;
}
mat-card-subtitle{
  font-size: 14px;
}
mat-dialog-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  position: absolute;
  bottom: 0;
}
mat-dialog-actions button{
  width: 318px;
  height: 47px;
  border: 1px solid;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
}
mat-dialog-actions #attachbtn{
  background: #435A86;
  border-color: #676D7A;
  color: white;

}
mat-dialog-actions #cancelbtn{
  background: #FFFFFF;
  border-color: #A4A4A4;
  color: #434343;
}
.files{
  height: 185px;
  overflow-y: auto;
}
mat-dialog-content{
  display: flex;
  flex-direction: column;
}
#removeFile{
  position: absolute;
  right: 0;
  margin: 10px;
}
