<div class="form" [formGroup]="newPasswordForm">
    <div class="form-row">
        <h1>Enter New Password</h1>
    </div>

    <mat-form-field class="form-row" [floatLabel]="'always'" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field class="form-row" [floatLabel]="'always'" appearance="fill">
        <mat-label>confirm password</mat-label>
        <input matInput type="password" formControlName="confirm">
    </mat-form-field>

    <div class="form-row">
        <button mat-stroked-button class="submit-btn" (click)="submit()">Reset Password</button>
    </div>
</div>