<div class="container">
    
        <h1>User X</h1>
        <a routerLink="/profile"><button class="btn btn-success" > Update profile </button></a>
        <h2>You can view and edit/delete/share your schedules from here</h2>
    
    <div class="scheduleList">
      <h2>My Schedules</h2>
        <mat-list #schedules>
          <div class="container">
          <mat-list-item *ngFor="let schedule of Schedules | async">
            {{schedule.name}}
            <a routerLink="/"><button class="btn btn-success" > Edit schedule </button></a>
            <a routerLink="/"><button class="btn btn-danger" > Delete schedule </button></a>
        </mat-list-item>
      </div>
      </mat-list>
    </div>
    
  </div>
