.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible; 
  margin-left: 10%;
}

.header{
  margin-bottom: 20px;
}

h1 {
  font-size: 4em;
  font-weight: 500;
  margin-top: 2em;
  align-items: left;
}

button {
  border: none;
  color: #FFF;
  padding: 0.7em 1em;
  border-radius: 0.35em;
  font-size: 0.9em;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;
  margin-top: 0.5em;
}

button:disabled {
  opacity: 0.5;
}

.btn-danger {
  background-color: red
}

.btn-primary{
  background-color: var(--save-changes-color);
}

.btn-primary:hover{
  background-color: var(--save-changes-color-hover);
}

.mat-list-item{
  margin-top: 20px;
  margin-top: 20px
}

.button-container{
  float: right;
  margin-right: 18%;
}
 
.example-viewport {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  gap: 10px;
}

.schedule-view{
  display: flex;
  flex-direction: row;
}

.schedule-data{
  flex: 6;
}
  
#mySchedules{
  width: 40%;
  float: left;
  height: 300px;
  margin-right: 1%;
  margin-left: 1%;
}

#subscribedSchedules{
  width: 40%;
  float: left;
  height: 300px;
  margin-right: 1%;
  margin-left: 1%;
}

.action-buttons{
  gap: 10px;
}

#editbtn {
  background-color: var(--save-changes-color);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}

#editbtn:hover {
  background-color: var(--save-changes-color-hover);
}

#deletebtn {
  background-color: var(--rouge-bordeau-color);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}

#deletebtn:hover {
  background-color: var(--rouge-bordeau-hover-color);
}
