<div class="container">
    <h1>Subscribe to your Schedule</h1>
    <div class="events-container" *ngIf="events">
        <div class="column-headers">
            <div class="event-id">
                Id
            </div>
            <div class="event-type">
                Event Type
            </div>
            <div class="event-due">
                Due Date
            </div>
        </div>
        <div *ngFor="let event of events" class="row">
            <div class="event-id">
                {{ event._id }}
            </div>
            <div class="event-type">
                {{ event.type }}
            </div>
            <div class="event-due">
                {{ event.dueDate }}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="integrated-calendar-section">
            Choose your integrated calendar:
            <div class="icons">
                <img src="../../assets/images/icons/Google.png" alt="">
                <img src="../../assets/images/icons/Outlook.png" alt="">
            </div>
        </div>
        <div class="button-section">
            <button class="subscribe-btn">Subscribe</button>
            <button class="download-btn">Download</button>
        </div>
    </div>
</div>