<div class="container">
    <h1>Subscribe to your Schedule</h1>
    <div class="events-container">
    </div>
    <div class="footer">
        <div class="integrated-calendar-section">
            Choose your integrated calendar:
            <div class="icons">
                <img src="../../assets/images/icons/Google.png" alt="">
                <img src="../../assets/images/icons/Outlook.png" alt="">
            </div>
        </div>
        <div class="button-section">
            <button class="subscribe-btn">Subscribe</button>
            <button class="download-btn">Download</button>
        </div>
    </div>
</div>