.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

h1 {
    font-size: 4em;
    font-weight: 500;
    margin-top: 2em;
    align-items: left;
}

.text {
    font-size: 1.2em;
    margin-top: 3em;
}

.search-field {
    display: flex;
    margin-top: 3em;
    align-items: center;
}

.input-label {
    font-size: 1.2em;
    font-weight: 500;
}

.btn-primary{
  background-color: #314671;
}

button {
  border: none;
  color: #FFF;
  padding: 0.7em 1em;
  border-radius: 0.35em;
  font-size: 0.9em;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    margin-top: 0.5em;
}

button:disabled {
    opacity: 0.5;
}

.btn-danger {
    background-color: red
}

.scheduleList{
    padding-top: 20px;
    padding-bottom: 20px
}
.mat-list-item{
    margin-top: 20px;
    margin-top: 20px
}

  table {
    width: 100%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .example-viewport {
    height: 200px;
    width: 425px;
    border: 1px solid black;
  }
  

.nu-table-body {
  overflow-y:auto;
  max-height:500px;
}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

table{
  margin: 6%;
}

.action-buttons{
  display: flex;
  gap: 10px;
}

#editbtn {
  background-color: var(--save-changes-color);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}

#editbtn:hover {
  background-color: var(--save-changes-color-hover);
}

#deletebtn {
  background-color: var(--rouge-bordeau-color);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}

#deletebtn:hover {
  background-color: var(--rouge-bordeau-hover-color);
}

#addevent {
  background-color: var(--border-green);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}

#addevent:hover {
  background-color: var(--background-green);
}