<div class="container">
    <div class="header">
      <h1>Edit events for schedule {{scheduleName}}</h1>
    </div>
    <div>
        <table>
          <div class="nu-table-body">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            
            <tr *ngFor="let eventArray of eventDetails; let i = index">
              <ng-container *ngFor="let event of eventArray">
                <td>{{ event._id }}</td>
                <td>{{ event.name }}</td>
                <td>
                  <button type="button" id="cancelbtn" (click)="openDialog()">Edit</button>
                  <button type="button" id="addbtn">Delete</button>
                </td>
              </ng-container>
            </tr>
          </div>
          </table>      
    </div>
</div>