/* Add these styles in your schedule-detail.component.css */

.scheduledetail-container {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.scheduledetail-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.schedule-name {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 20px;
}

.event {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45%;
  text-align: left;
}

.event h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

button {
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

.scheduledetail-button {
  background-color: var(--rouge-bordeau-color);
}

.scheduledetail-button:hover {
  background-color: var(--rouge-bordeau-hover-color);
}

.subscribe-button {
  background-color: var(--save-changes-color);
}

.subscribe-button:hover {
  background-color: var(--save-changes-color-hover);
}

.unsubscribe-button {
  background-color: var(--del-btn-color);
}

.unsubscribe-button:hover {
  background-color: var(--del-btn-color-hover);
}

.subscribe-button.subscribed,
.subscribe-button.unsubscribed,
.unsubscribe-button.subscribed,
.unsubscribe-button.unsubscribed{
  background-color: #ddd;
  color: #555;
  cursor: not-allowed;
}
