<div class="form">
    <div class="section sign-in-form">
        <div class="form-item">
            <h1>Sign in</h1>
        </div>
        <div class="form-item">
            <label>email: </label>
            <input type="text" class="email">
        </div>
        <div class="form-item">
            <label>password: </label>
            <input type="text" class="password">
        </div>
        <div class="form-item">
            <button class="submit-btn" (click)="getFormDataTest()">Sign In</button>
        </div>
    </div>
    <div class="section footer-section">
        <div class="form-item">
            <a href="" class="forgot-password">Forgot your password?</a>
        </div>
        <div class="form-item">
            <div>New to our website?</div>
            <a href="" class="sign-up-link">Sign up</a>
        </div>
    </div>
</div>