.title h3{
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.025em;
  color: var(--save-changes-color);
  margin-bottom: 10px;
}

.example-form-field {
  width: 50%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
  
.example-container form {
  margin-bottom: 20px;
}
  
.example-container form > * {
  margin: 12px 0;
}
  
.example-container .mat-radio-button {
  margin: 0 12px;
}
  
.example-form-fields {
  display: flex;
  align-items: flex-start;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  margin-right: 12px;
}

button {
  border: none;
  color: #FFF;
  padding: 0.7em 1em;
  border-radius: 0.35em;
  font-size: 0.9em;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

.action-buttons{
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 10px;
}

#cancelbtn {
  background-color: var(--cancel-changes-color);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}
  
#cancelbtn:hover {
  background-color: var(--cancel-changes-color-hover);
}
  
#deletebtn {
  background-color: var(--rouge-bordeau-color);
  color: #FFF;
  cursor: pointer;
  flex: 1;
}
  
#deletebtn:hover {
  background-color: var(--rouge-bordeau-hover-color);
}