<div class="form" [formGroup]="forgotPasswordForm">
    <div class="form-row">
        <h1>Forgot Password</h1>
    </div>

    <mat-form-field class="form-row" [floatLabel]="'always'" appearance="fill">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <div *ngIf="forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.touched || forgotPasswordForm.controls.email.dirty)" class="error-message">
        <div *ngIf="forgotPasswordForm.controls.email.errors?.['required']">
            <i class='bx bxs-error-circle'></i>
            email is required
        </div>
        <div *ngIf="forgotPasswordForm.controls.email.errors?.['email']">
            <i class='bx bxs-error-circle'></i>
            email must be in email format
        </div>
    </div>

    <div class="form-row">
        <button mat-stroked-button class="submit-btn" (click)="submit()">Forgot Password</button>
    </div>
</div>