.containerWrap{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
}

.step .navigationBtn{
  align-self: flex-end;
}

.next{
  background-color: var(--border-green);
  color: white !important;
}

.back{
  background-color: var(--del-btn-color);
  color: white !important;
  margin-right: 6px;
}