<div class="form">
    <div class="section sign-up-form">
        <div class="form-item">
            <h1>Sign up</h1>
        </div>
        <div class="form-item">
            <label>email: </label>
            <input type="text" class="email">
        </div>
        <div class="form-item name-group">
            <div class="name-item">
                <label>first name: </label>
                <input type="text" class="first-name">
            </div>
            <div class="name-item">
                <label>last name: </label>
                <input type="text" class="last-name">
            </div>
        </div>
        <div class="form-item">
            <label>password: </label>
            <input type="text" class="password">
        </div>
        <div class="form-item">
            <button class="submit-btn" (click)="getFormDataTest()">Sign Up</button>
        </div>
    </div>
    <div class="section footer-section">
        <div class="form-item">
            <div>Already have an account?</div>
            <a href="" class="sign-up-link">Sign in</a>
        </div>
    </div>
</div>