<h2>Import your schedule:</h2>
<div class="description">
  <p>First import your syllabus into our application, simply click on the import button. You can upload your syllabus file
    in either PDF or Word document format. Once uploaded, our system will automatically organize and populate your class schedule,
    assignment and exam due dates for easy tracking and management.</p>
</div>
<div class="syllabus">
  <label>Syllabus:
    <button mat-raised-button>Import</button>
  </label>
</div>
<div class="hint">
  <p>Or create your schedule from scratch, just skip to the next step! click on <mat-icon>arrow_right</mat-icon> </p>
</div>
