*{
  letter-spacing: normal;
  line-height: normal;
}
h2{
  font-size: 64px;
  margin: 30px 0 20px;
}
p{
  margin: 100px 0 50px;
  font-size: 24px;
}
.description{
  margin-top: 200px;
}
.syllabus{
  margin: 200px 50px 50px;
  font-size: 40px;
}
.syllabus button{
  padding: 32px;
  font-size: 32px;
  background-color: #F6F6F6;
  border-style: solid;
  border-width: 1px;
  border-color: #ACACAC;
  color: #3C3C3C;
  margin: -10px 0 0 400px;
}
.hint{
  position: absolute;
  bottom: 0;
}
.hint p {
  font-size: 16px;
}
mat-icon{
  margin: -6px 0;
  border-color: #AEAEAE;
  background-color: #FCFCFC;
  color: #526DA3;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}
