.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 2.5em;
    margin-bottom: 2em;
    text-align: start;
    transform: translateX(-2em);
}

.input-group,
.header {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

.input-group {
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.input-group input,
.del-btn {
    width: 60%;
}

input {
    background-color: var(--input-background-main);
    border: 1px solid var(--input-border-stroke);
    border-radius: 0.2em;
    font-size: inherit;
    line-height: 1.5em;
    padding: 0.2em 0.5em;
}

input:focus {
    outline: none;
    border-color: var(--input-border-stroke-selected);
    box-shadow: 0 0 5px var(--input-border-stroke);
}

.input-group+.input-group {
    margin-top: 1.5em;
}

.del-btn-group {
    justify-content: flex-end;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3em;
    transform: translateX(5em);
}

button {
    border: none;
    color: #FFF;
    padding: 0.7em 1em;
    border-radius: 0.35em;
    font-size: 0.9em;
    font-weight: 600;
    white-space: nowrap;
}

.del-btn {
    background-color: var(--rouge-bordeau-color);
    margin-top: 1em;
    cursor: pointer;
}

.del-btn:hover {
    background-color: var(--rouge-bordeau-hover-color);
}

.save-changes {
    background-color: var(--save-changes-color);
    cursor: pointer;
}

.save-changes:hover {
    background-color: var(--save-changes-color-hover);
}

.cancel-changes {
    margin-left: 2em;
    background-color: var(--cancel-changes-color);
    cursor: pointer;
}

.cancel-changes:hover {
    background-color: var(--cancel-changes-color-hover);
}