<div class="form-container" [formGroup]="updateProfileForm">

    <div class="header">
        <h1>Profile Information</h1>
    </div>

    <div class="input-items">
        <div class="input-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName">
        </div>

        <div class="input-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName">
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="email" formControlName="email">
        </div>

        <div class="input-group">
            <label>Username</label>
            <input type="text" formControlName="username">
        </div>

        <div class="input-group">
            <label>New Password</label>
            <input type="password" formControlName="password">
        </div>

        <div class="input-group del-btn-group">
            <button class="del-btn" routerLink="/profile-page" (click)="submit()">Save changes</button>
        </div>

        <div class="input-group">
            <div class="btn-group">
                <button class="save-changes" routerLink="/home" (click)="deleteFun()">Delete profile</button>
                <button class="cancel-changes" routerLink="/profile-page">Cancel</button>
            </div>
        </div>
    </div>
</div>