.form-row.name-group {
    flex-direction: row;
    width: 100%;
}

.row-item+.row-item {
    margin-left: 1em;
}

.form-row.footer {
    flex-direction: row;
}

.signup-error{
    margin-bottom: 0;
    margin-top: 16px;
    text-align: left;
    color: red;
    font-size: 12px;
}